@using KS.SportsPool.MVC.Models;
@using KS.SportsPool.Data.POCO;
@model AthleteListViewModel

<div style="position: fixed; text-align: center; background:#dddddd; padding: 5px; bottom:0px; left:0px; width:100%; border: 1px solid black;">
    <p id="errorMessage" style="color: #ff0000; font-size:large;">
        @ViewBag.Error
    </p>
    <p id="successMessage" style="color: #00ff00; font-size:large;">
        @ViewBag.Success
    </p>
    <a href="/Admin/UpdateScores" class="btn btn-primary">Update Pool Scores</a>
</div>

@{ 
    List<SelectListItem> teamListItems = new List<SelectListItem>();
    foreach(Team team in Model.Teams)
    {
        teamListItems.Add(new SelectListItem { Text = team.Name, Value = team.Id.ToString() });
    }
}

<div style="width: 100%; text-align: center;">
    <a href="/Admin/Pools" class="btn btn-primary">Pools</a>
    <a href="/Admin/Athletes" class="btn btn-primary">Athletes</a>
    <a href="/Admin/Teams" class="btn btn-primary">Teams</a>
    <h1>Athletes</h1>
    <div style="border: 1px solid #000000; padding: 5px;">
        @using (Html.BeginForm("AddAthlete", "Admin", null, FormMethod.Post))
        {
            <p>
                @Html.Label("Team")
                &nbsp;
                @Html.DropDownList("TeamId", teamListItems)
                &nbsp;
                @Html.Label("GroupName")
                &nbsp;
                @Html.TextBox("GroupName")
            </p>
            <p>
                @Html.Label("FirstName")
                &nbsp;
                @Html.TextBox("FirstName")
                &nbsp;
                @Html.Label("LastName")
                &nbsp;
                @Html.TextBox("LastName")
                &nbsp;                
                @Html.Label("Position")
                &nbsp;
                @Html.TextBox("Position")
                &nbsp;
            </p>
            <button type="submit" class="btn btn-primary">Add Athlete</button>
        }
    </div>

    <div id="teamList">
        @{Html.RenderPartial(@"AthleteList", Model);}
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var anchor = document.getElementById('@ViewBag.ScrollSection');
            if (anchor) {
                anchor.scrollIntoView(true);
            }
        });
    </script>
}