@using KS.SportsPool.Data.POCO;
@model PoolEntry

@{
    using (Html.BeginForm("UpdatePool", "Admin", null, FormMethod.Post, new { @class = "tr", id = "PoolDiv" + Model.Id }))
    {
        @Html.Hidden("Id", Model.Id)
        @Html.Hidden("Year", Model.Year)
        @Html.Hidden("Year", Model.Score)
        <span class="td">
            <button type="submit" class="btn btn-primary">Save Pool</button>
            <a href="/Admin/DeletePool/@{ WriteLiteral(Model.Id); }" class="btn btn-danger">Delete Pool</a>
        </span>
        <span class="td">@Html.TextBox("Name", Model.Name)</span>
        <span class="td">@Html.TextBox("Telephone", Model.Telephone)</span>
        <span class="td">@Html.TextBox("Email", Model.Email)</span>
        <span class="td">@Model.Score</span>
        <span class="td"><a href="/Admin/PoolDetails/@{ WriteLiteral(Model.Id); }" class="btn btn-success">Edit Picks</a></span>
    }
}