@using KS.SportsPool.Data.POCO;
@model Team

@{
    string imgSrc = Model.Abbreviation.ToUpper() + "_100.png";
    using (Html.BeginForm("UpdateTeam", "Admin", null, FormMethod.Post, new { @class = "tr" }))
    {
        @Html.Hidden("Id", Model.Id)
        @Html.Hidden("Year", Model.Year)
        @Html.Hidden("Conference", Model.Conference)
        @Html.Hidden("Division", Model.Division)
        <span class="td">
            <img style="max-height: 100px; max-width: 100px;" src="~/Images/Teams/@imgSrc" />
            <button type="submit" class="btn btn-primary">Save Team</button>
            <a href="/Admin/DeleteTeam/@{ WriteLiteral(Model.Id); }" class="btn btn-danger">Delete Team</a>
        </span>
        <span class="td">@Html.TextBox("Name", Model.Name)</span>
        <span class="td">@Html.TextBox("Abbreviation", Model.Abbreviation)</span>
        <span class="td">@Html.TextBox("Round1", Model.Round1)</span>
        <span class="td">@Html.TextBox("Round2", Model.Round2)</span>
        <span class="td">@Html.TextBox("Round3", Model.Round3)</span>
        <span class="td">@Html.TextBox("Round4", Model.Round4)</span>
    }
}